body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: rgb(193, 194, 193);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #000000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}